@import "tailwindcss";
@plugin "daisyui";

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@theme {
  --animate-border: border 4s linear infinite;

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }
}
